extends layout

block content
  #introPage
    p.lead
      | Welcome to the official website of the Shaker Fall 2018 Speedcubing
      | Competition!
    p
      | We are very excited for the upcoming competition, which will be taking
      | place on December 1, 2018 at the Shaker Heights High School in Shaker
      | Heights, Ohio. This year, in an effort to make speedcubing competitions
      | as accessible as possible, we have lowered our registration fee to $5
      | (USD). Additionally, we are making it easier than ever to pre-order a
      | t-shirt, integrating t-shirt pre-orders directly into our registration
      | site.
    p
      | The registration deadline has passed. If you have already registered,
      | we hope to see you at the competition. If you were unable to register,
      | we are planning to host another competition in the spring, and we hope
      | to see you then!
